main {
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 3.5px solid #3333;
  align-items: center;
  width: 80%;
  overflow: visible;
}
div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
div > input {
  border: 2px solid #4444;
  width: 75%;
  height: 2.5rem;
  border-radius: 15px;
}
div > button {
  color: #ecf0f1;
  font-size: 15px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  box-shadow: 0px 6px 0px #d35400;
  transition: all 0.1s;
}
div > button:hover {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
}

ul {
  border: none;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 8px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul > li {
  margin-right: 10px;
  list-style-type: none;
  font-size: 16px;
  color: #333;
}

ul > li:last-child button {
  background-color: #e74c3c;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

ul > li:last-child button:hover {
  background-color: #c0392b;
}
